# directories
trabajoPractico/
clase08/Conjuntos.hs
clase09/Conjuntos.hs
claseAdicional/Clase05.hs
clase10/Conjuntos.hs
clase10/Clase09.hs
clase10/Clase05.hs
clase10/ClaseAdicional.hs

# files
*.txt
*.png
