# directories
trabajoPractico/
clase08/Conjuntos.hs
clase09/Conjuntos.hs
claseAdicional/Clase05.hs
Clase10/Conjuntos.hs
Clase10/Clase09.hs
Clase10/Clase05.hs
Clase10/ClaseAdicional.hs

# files
*.txt
*.png
